.footer{
	padding-top: 43px;
	min-height: 225px;
	background-image: url('../images/footer-bg.jpg');
	position: relative;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(45,45,45,0.88);
	}

	&__logo{
		a{
			display: flex;
			justify-content: start;
			align-items: center;
			flex-direction: row;
			@media (max-width: $screen-sm-max){
				flex-direction: column;
			}
			&:hover{
				text-decoration: none;
			}
			&:focus{
				text-decoration: none;
			}
		}
		p{
			display: inline-block;
			margin: 0;
			padding-left: 18px;
			font-weight: 700;
			font-size: 12px;
			color: #fff;			
			@media (max-width: $screen-sm-max){
				padding-left: 0;
				text-align: center;
				font-size: 11px;
			}
		}
	}
	&__menu-nav{	
		@media (max-width: $screen-xs-max){
			text-align: center;
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				display: inline-block;
				margin-left: 30px;
				@media (max-width: $screen-md-max){
					margin-left: 20px;
				}
				@media (max-width: $screen-sm-max){
					margin-left: 8px; 
				}
				@media screen and (max-width: 600px)  {
					display: block;
					margin: 0;
				}
				&:first-child{
					margin-left: 0;
				}
				a{
					text-transform:uppercase;
					text-decoration:none;
					display:inline-block;
					position: relative;
					color: #c4bbb6;
					font-size: 12px;
					line-height: 32px;
					font-weight: 700;
					transition: width .3s ease 0s,left .3s ease 0s;
					&.active{
						color: #fff;	
					}
					&.active:after{
						width: 100%;
						left: 0;						
					}
					&:after{
						bottom: 3px;
						content:"";
						display:block;
						height:2px;
						left:50%;
						position:absolute;
						background: #8e2216;
						transition:width .3s ease 0s,left .3s ease 0s;
						width:0;
					}
					&:hover:after{
						width:100%;
						left:0
					}
					&:hover{
						color: #c4bbb6;
					}					
				}
			}
		}
	}
	&__call-back{
		line-height: 45px;
		max-width: 168px;
		width: 100%;
		text-align: center;
		position: relative;
		margin: 0 0 20px auto;
		@media (max-width: $screen-xs-max){
			margin: 0 auto;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		a{	
			text-align: center;
			border-width: 1px;
			border-color: #f1c8b2;
			border-style: solid;
			border-radius: 2px;				
			min-height: 33px;
			line-height: 33px;
			font-weight: 700;
			display: block;
			font-size: 11px;
			line-height: 30px;
			color: #f7bda4;
			text-decoration: none;
			transition: all .4s ease;
			&:hover{
				background-color: #f7bda4;
				box-shadow: 0 8px 16px 0 rgba(247,189,164,.44);
				color: #fff;
			}
		}
	}
	&__rights{
		padding-top: 5px;
		p{
			font-size: 9px;
			line-height: 14px;
			color: #6e6a69;
			padding-left: 55px;
			@media (max-width: $screen-sm-max){
				padding-left: 0;
			}
			@media (max-width: $screen-xs-max){
				text-align: center;
			}
		}
	}
}